$accent: #689038;
$button: #6AA13C;
$text : #5A5A5A;
$figures: #F0BF36 ;
$figures2: #F8F8F8;
$headers: #553E29;
$white: #fff;

$roboto: 'Roboto', Arial, sans-serif;
$open: 'Open Sans', Tahoma, sans-serif; 
$helvetica: 'HelveticaNeueCyr', Verdana, sans-serif;