.blog {
    margin: 90px 0 -180px;

    .blog__title {
        font-weight: 600;
        font-size: 26px;
        line-height: 30px;
        letter-spacing: 2.6px;
        color: $dark-gray;
        text-transform: uppercase;
        text-align: center;
    }

    .blog__block {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 55px;

        .blog__element {
            flex-basis: 48.7%;

            img {
                display: block;
                max-width: 100%;
            }

            .blog__info {
                width: calc(100% - 70px);
                margin: 0 auto;
                transform: translateY(-50%);
                text-align: center;
                background-color: $white;
                padding: 20px 0 15px;

                .blog__topic {

                    a{
                        font-weight: 600;
                        font-size: 18px;
                        line-height: 18px;
                        letter-spacing: 0.9px;
                        color: $dark-gray;
                        text-decoration: none;
                        text-transform: uppercase;

                        &:hover {
                            text-decoration: underline;
                        }
                    }
                }

                p {
                    margin: 3px 6px;
                }

                .blog__date {
                    font-family: 'Open Sans', sans-serif;
                    font-style: italic;
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 24px;
                    color: #7d7d7d;
                }
            }
        }
    }
    .owl-nav {
            
        button.owl-prev, button.owl-next {
            background: url('../images/sprite-arrow2.png') 0 0 no-repeat;
            width: 49px;
            height: 49px;
            border: none;
            box-shadow: none;
            position: absolute;
            left: calc(-49px - 20px);
            top: calc(50% - 49px);
            cursor: pointer;
            transform: translateY(-50%);
            outline: none;
        }

        button.owl-prev {

            &:hover {
                background-position: 0 -49px;
            }
        }

        button.owl-next {
            background-position: -49px 0;
            left: auto;
            right: calc(-49px - 20px);

            &:hover {
                background-position: -49px -49px;
            }
        }
    }
}

@media (max-width: 1350px) {
    .blog {
        width: calc(100% - 120px);
        margin: 90px auto -180px;
    }
}

@media (max-width: 768px) {
    .blog {
        margin: 60px auto -180px;

        .blog__block {
            margin-top: 25px;

            .blog__element {

                .blog__info {
                    width: calc(100% - 20px);
                }
            }
        }
    }
}

@media (max-width: 680px) {
    .blog {

        .blog__block {

            .blog__element {

                img {
                    margin: 0 auto;
                }
            }
        }
    }
}    

@media (max-width: 586px) {
    .blog {

        .blog__block {

            .blog__element {
                flex-basis: 100%;

                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .blog {

        .blog__block {

            .blog__element {

                .blog__info {
                    padding: 3px 0 3px;

                    .blog__topic {

                        a {
                            font-size: 12px;
                            line-height: 12px;
                        }
                    }
                    
                    .blog__date {
                        font-size: 10px;
                        line-height: 12px;
                    }
                }
            }
        }
    }
}