.categories {
        margin: 50px 0px;

        ul {
            display: flex;
            justify-content: center;
            flex-wrap: wrap;
        }

        li {
            margin: 10px 20px;
        }

        a {
            font-weight: 600;
            font-size: 19px;
            line-height: 25px;
            letter-spacing: 1.9px;
            color: $dark-gray;
            text-decoration: none;
            border-bottom: 1px solid transparent;
            display: inline-block;

            &:hover {
                border-bottom-color: $dark-gray;
            }
        }
}

@media (max-width: 768px) {

    .categories {
        margin: 25px 0;

        li {
            margin: 5px 8px;
        }

        a {
            font-size: 16px;
        }
    }
}