.footer {
    text-align: center;
    padding: 10px 0;

    p {
        font-weight: 300;
        font-size: 14px;
        line-height: 30px;
        color: $footer-color;
        margin: 20px 0;
    }

    img {
        display: block;
        margin: 40px auto 30px;;
    }
}

@media (max-width: 476px) {
    .footer {

        p {
            line-height: 20px;
        }
    }
}