.links {
    background-color: $new-color;
    padding: 240px 0 90px;

    .links__wrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .links__element {
            flex-basis: 20%;

            .links__title {
                font-weight: 700;
                font-size: 15px;
                line-height: 20px;
                color: #575153;
                text-transform: uppercase;
                margin-bottom: 30px;
            }

            a {
                text-decoration: none;
                font-weight: 300;
                font-size: 14px;
                line-height: 30px;
                color: $footer-color;

                &:hover {
                    text-decoration: underline;
                }
            }
        }
        .links__element--contacts {

            .links__title {
                font-weight: 700;
                font-size: 15px;
                color: #575153;
                margin-top: 0;
                margin-bottom: 30px;
            }

            p {
                font-weight: 300;
                font-size: 14px;
                line-height: 20px;
                color: $footer-color;
                margin: 10px 0;

                &:last-of-type {
                    margin-top: 35px;
                }

                span {
                    font-weight: 700;
                    color: #000;
                }
            }
        }
    }
}


@media (max-width: 1059px) {
    .links {

        .links__wrap {

            .links__element--contacts {

                p {
                    
                    &:last-of-type {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 906px) {
    .links {

        .links__wrap {

            .links__element--contacts {

                p {
                    
                    &:last-of-type {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}


@media (max-width: 860px) {
    .links {
        padding-bottom: 200px;

        .links__wrap {
    
            .links__element {
                flex-basis: 33%;
                margin: 10px 0;
            }

            .links__element--contacts {

                p {
                    
                    &:last-of-type {
                        margin-top: 20px;
                    }
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .links {
        padding: 200px 0 40px;
        margin-top: 25px;
    }
}

@media (max-width: 480px) {
    .links {
        padding: 170px 0 30px;

        .links__wrap {
    
            .links__element {
                flex-basis: 100%;
                text-align: center;

                .links__title {
                    margin-bottom: 5px;
                }
            }

            .links__element--contacts {

                p {
                    
                    &:last-of-type {
                        margin-top: 0px;
                    }
                }
            }
        }
    }
}

@media (max-width: 420px) {
    .links {
        margin-top: 80px;
        padding: 110px 0 30px;
    }
}