<footer class="footer">
    <div class="footer__info">
        <div class="container">
            <div class="footer__wrapper">
                <div class="footer__address">
                    <span>ООО "СВЦ ПОЛИС812" Санкт-Петербург, Стачек, дом 55</span>
                </div>
                <div class="footer__links">
                    <a href="#">
                        <span>Пользовательское соглашение</span>
                    </a>
                    <a href="#">
                        <span>Политика конфиденциальности</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="footer__copyright">
        <span>&copy; 2020 e-osago.ru. Все права защищены</span>
    </div>
</footer>