<header class="header" id="header__menu">
    <div class="header-content">
        <div class="container">
            <div class="header__wrapper">
                <div class="header__logo">
                    <a href="/">
                        <img src="../img/svg/logo.svg" alt="" />
                    </a>
                </div>
                <nav class="header__menu">
                    <button class="header__menu-btn"></button>
                    <ul class="header__menu-list">
                        <li>
                            <a href="#advantages">
                                <span>Наши преимущества</span>
                            </a>
                        </li>
                        <li>
                            <a href="#calculator">
                                <span>Калькулятор ОСАГО</span>
                            </a>
                        </li>
                        <li>
                            <a href="#questions">
                                <span>Вопросы и ответы</span>
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <div class="header__line">
        <img src="../img/line.png" alt="" />
    </div>
</header>