.menu {

    ul {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        li {
            margin: 0 5px;

            a {
                font-weight: 400;
                font-size: 14px;
                line-height: 16px;
                color: $white-gray;
                text-decoration: none;
                text-transform: uppercase;
                padding-bottom: 17px;
                border-bottom: 1px solid transparent;
                transition-duration: 300ms;
                transition-property: color, border-bottom-color;

                &:hover {
                    color: $red;
                    font-weight: 700;
                    border-bottom: 1px solid $red;
                }
            }
        }
    }
}

@media (max-width: 768px) {
    .menu {

        ul {

            li {
                margin: 5px;

                a {
                    padding-bottom: 0;
                    border-bottom: none;

                    &:hover {
                        border-bottom: none;
                    }
                }
            }
        }
    }
}    

@media (max-width: 560px) {
    .menu {

        ul {
            justify-content: center;
        }
    }
}