$white: #fff;
$black: #171717;

$border-color: #f3ebdc;

$slider-text: #535353;
$dark-gray: #2d2b27;

$offers-color: #292929;
$new-color: #f8f8f8;
$new-bg: #1a1a1a;

$brand-color: #898989;

$footer-color: #727272;