@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?jh9gf');
  src:  url('../fonts/icomoon.eot?jh9gf#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?jh9gf') format('truetype'),
    url('../fonts/icomoon.woff?jh9gf') format('woff'),
    url('../fonts/icomoon.svg?jh9gf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-angle-down:before {
  content: "\e901";
  color: #b3b3b3;
}
.icon-angle-right:before {
  content: "\e902";
  color: #cfcfcf;
}
.icon-angle-up:before {
  content: "\e903";
  color: #b3b3b3;
}
.icon-arrow-next:before {
  content: "\e904";
  color: #b3b3b3;
}
.icon-arrow-prev:before {
  content: "\e905";
  color: #b3b3b3;
}
.icon-basket:before {
  content: "\e906";
  color: #e6e4e4;
}
.icon-basket-border:before {
  content: "\e907";
  color: #808080;
}
.icon-burger-menu:before {
  content: "\e908";
  color: #808080;
}
.icon-check:before {
  content: "\e909";
  color: #fff;
}
.icon-fb:before {
  content: "\e90a";
  color: #666;
}
.icon-fb-color:before {
  content: "\e90b";
  color: #33589c;
}
.icon-heart:before {
  content: "\e90c";
  color: #808080;
}
.icon-inst:before {
  content: "\e90d";
  color: #666;
}
.icon-list-small:before {
  content: "\e900";
  color: #d8d6d6;
}
.icon-plus:before {
  content: "\e90e";
  color: #d8d8d8;
}
.icon-search:before {
  content: "\e90f";
  color: #808080;
}
.icon-star:before {
  content: "\e910";
  color: #f9a72d;
}
.icon-star-border:before {
  content: "\e911";
  color: #e7e5e5;
}
.icon-star-half:before {
  content: "\e912";
  color: #f9a72d;
}
.icon-th:before {
  content: "\e913";
  color: #1875f0;
}
.icon-tw:before {
  content: "\e914";
  color: #666;
}
.icon-tw-color:before {
  content: "\e915";
  color: #00a2f9;
}
.icon-user:before {
  content: "\e916";
  color: #808080;
}
.icon-ytb:before {
  content: "\e917";
  color: #666;
}
.icon-close:before {
  content: "\f00d";
}
.icon-remove:before {
  content: "\f00d";
}
.icon-times:before {
  content: "\f00d";
}
